@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Roboto&display=swap");

:root {
  --main-color: cadetblue;
  --main-shadow: rgb(232, 238, 238);
  --primary-bg-color: #fff;
  --secondary-bg-color: #eee;
  --primary-text-color: #222;
  --secondary-text-color: #666;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}

*::selection {
  background-color: var(--primary-bg-color);
  color: #fff;
}

html {
  overflow-x: hidden;
  font-size: 85%;
}

/* customised scroll bar */
html::-webkit-scrollbar {
  width: 0.9rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--secondary-text-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

body {
  background: var(--primary-bg-color);
}

body.dark-theme {
  --primary-bg-color: rgb(7, 27, 94);
  --secondary-bg-color: #171c32;
  --primary-text-color: #fff;
  --secondary-text-color: #eee;
}

section {
  padding: 1rem;
  padding: 0 8%;
  min-height: 100vh;
  margin-top: 50px;
}

/* customised button */
.btn {
  display: inline-block;
  padding: 0.9rem 3.5rem;
  font-size: 2rem;
  background: none;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
  border: 0.2rem solid var(--main-color);
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  background: var(--main-color);
  height: 95%;
  width: 99%;
  z-index: -1;
  transition: 0.2s linear;
}

.btn:hover:before {
  top: 100%;
  transform: translate(-50%, 100%);
}

.btn:hover {
  color: whitesmoke;
  background: rgb(84, 152, 155);
}
/* customised button icon */
.btn i {
  margin-left: 1rem;
}

i {
  font-size: 2rem;
  color: var(--main-color);
}
/* end of button features */

/* subheading features */
.heading {
  font-size: 5rem;
  color: var(--primary-text-color);
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

h3 {
  text-transform: capitalize;
}

/* Header section */
header {
  background-image: url(./img/headerbg.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: sticky;
  /*sticky header */
  position: sticky;
  top: 0;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  flex-wrap: wrap;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
}
header img {
  height: 80px;
  width: auto;
}
header #icon {
  position: relative;
  transition: 0.2s;
  display: flex;
  margin-left: 1%;
}
header h1 {
  font-family: "Lobster", cursive;
  margin-top: 10px;
  text-transform: uppercase;
}
/* navbar features */
.navbar-links {
  display: flex;
  justify-content: right;
  margin-right: 3%;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 600;
  position: relative;
  transition: all 0.5s;
}

.navbar-links li {
  position: relative;
  list-style: none;
}

.navbar-links li a:hover {
  background-color: #ffffffcc;
  color: cadetblue;
  transition: 0.5s;
}

.navbar-links li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: darkslategrey;
  font-weight: 500px;
  font-size: 1.3rem;
  transition: 0.2s;
  display: block;
  padding: 10px;
}

/* toggle button */
.toggle-button {
  position: absolute;
  top: 10px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

#theme-toggler {
  position: fixed;
  top: 8.5rem;
  right: 0.1rem;
  z-index: 998;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: var(--main-color);
  color: white;
  cursor: pointer;
  border-radius: 5rem;
  display: none;
}

#theme-toggler.fa-sun {
  transform: rotate(-180deg);
  transition: 0.3s;
}
/* End of the header section */

/* Main content */
/* Prevent overshooting when navbar become stciky */
section h1 {
  position: relative;
}
section h1 .nav-ref {
  position: absolute;
  top: -150px;
}

/* home section */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .image {
  flex: 1 1 40rem;
  padding: 1rem;
  text-align: center;
}

.home .image img {
  height: 50rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-top: 0.3rem solid var(--primary-bg-color);
  border-right: 1rem solid var(--primary-bg-color);
  border-bottom: 1rem solid var(--main-color);
  border-left: 1rem solid var(--main-color);
  border-radius: 50%;
  image-resolution: 746px 1020px;
}

.home .content {
  flex: 1 1 40rem;
  padding: 1rem;
}

.home .content .welcome {
  display: inline-block;
  padding: 1rem 0;
  font-size: 3.5rem;
  color: var(--secondary-text-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.home .content h3 {
  color: var(--primary-text-color);
  font-size: 5rem;
}

.home .content h3 span {
  color: var(--main-color);
}

.home .content p {
  padding: 1rem 0;
  color: var(--secondary-text-color);
  font-size: 2rem;
}

.home .btn {
  display: inline-block;
  padding: 0.7rem;
  font-size: 1.7rem;
  padding-left: 2rem;
}

.home .btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: white;
  color: var(--main-color);
  border-radius: 70%;
  margin-left: 0.7rem;
  transition: 0.2s linear;
}

.home .btn:hover i {
  margin-left: 1rem;
}

/* End of home section */

/* About section */
.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .row .box {
  flex: 1 1 40rem;
  background-color: var(--primary-bg-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1.5rem;
  margin: 1.5rem;
}

.about .row .box .title {
  color: var(--primary-text-color);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.about .row .box .progress {
  padding: 1rem 0;
}

.about .row .box .progress h3 {
  font-size: 1.7rem;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
}

.about .row .box .progress .bar {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.5rem;
  margin: 1rem 0;
}

.about .row .box .progress .bar span {
  height: 100%;
  border-radius: 0.3rem;
  background-color: var(--main-color);
  width: 100%;
  display: block;
}

/* Coding skils progress bar - row3 */
/* html 95% bar2*/
.about .row .box:nth-child(3) .progress:nth-child(2) .bar span {
  width: 95%;
}
/* css 80% bar3*/
.about .row .box:nth-child(3) .progress:nth-child(3) .bar span {
  width: 80%;
}
/* js 65% bar4*/
.about .row .box:nth-child(3) .progress:nth-child(4) .bar span {
  width: 65%;
}
/* java 85% bar5*/
.about .row .box:nth-child(3) .progress:nth-child(5) .bar span {
  width: 85%;
}

/* Professional skills progress bar - row2*/
/* web design 75% bar2*/
.about .row .box:nth-child(4) .progress:nth-child(2) .bar span {
  width: 75%;
}
/* web development 70% bar3*/
.about .row .box:nth-child(4) .progress:nth-child(3) .bar span {
  width: 70%;
}
/* graphic design 65% bar4*/
.about .row .box:nth-child(4) .progress:nth-child(4) .bar span {
  width: 65%;
}
/* seo marketing 80% bar5*/
.about .row .box:nth-child(4) .progress:nth-child(5) .bar span {
  width: 80%;
}

/* Experience box */
.about .row .box .exp-box {
  padding: 0 1.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-left: 0.2rem solid var(--main-color);
  position: relative;
}

.about .row .box .exp-box h3 {
  color: var(--main-color);
  font-size: 2rem;
}

.about .row .box .exp-box p {
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  padding: 1rem 0;
}

.about .row .box .exp-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  /* circle */
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background: var(--main-color);
}

.about .row .box .exp-box span {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--main-color);
  border-radius: 5rem;
  padding: 0.2rem 1.5rem;
  background: var(--main-shadow);
  transition: 0.2s linear;
}

.about .row .box .exp-box span:hover {
  background-color: var(--main-color);
  color: whitesmoke;
  cursor: default;
}

/* Download CV button */
.about .download {
  background: var(--primary-bg-color);
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  padding-bottom: 3rem;
  margin: 1rem;
}

.about .download i {
  color: var(--primary-bg-color);
}

/* about section: Info-container */
.about .info-container {
  flex: 1 1 42rem;
}

.about .info-container h1 {
  font-size: 2.5rem;
  color: var(--main-color);
  text-transform: uppercase;
  padding: 1rem 0 1rem 0;
}

.about .info-container .box-container {
  padding: 1rem 0;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .info-container .box-container .box {
  flex: 1 1 20rem;
}

.about .info-container .box-container .box h3 {
  font-size: 1.7rem;
  color: var(--secondary-text-color);
  padding: 1rem 0;
  font-weight: normal;
}

.about .info-container .box-container .box h3 span {
  color: rgb(100, 188, 191);
  font-weight: bolder;
}

/* about section: count-container */
.about .count-container {
  flex: 1 1 42rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-image: url(./img/white_background.jpg);
  background-size: cover;
  background-position: center;
}

.about .count-container .box {
  flex: 1 1 20rem;
  padding: 3rem 4rem;
  border-radius: 0.5rem;
  background: rgb(212, 237, 245);
  box-shadow: var(--main-color);
}

.about .count-container .box h3 {
  font-size: 5rem;
  color: var(--main-color);
}

.about .count-container .box p {
  font-size: 2rem;
  color: var(--secondary-text-color);
}
/* End of About section */

/* Interest section */
.interest .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.interest .box-container .box {
  background: var(--primary-bg-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  width: 35rem;
  text-align: center;
  position: relative;
  z-index: 0;
}

.interest .box-container .box .number {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-size: 2.5rem;
  color: var(--primary-text-color);
}

.interest .box-container .box img {
  height: 7rem;
  width: 9rem;
  margin: 1rem;
}

.interest .box-container .box h3 {
  font-size: 2rem;
  color: var(--main-color);
  padding: 1rem;
}

.interest .box-container .box p {
  font-size: 1.5rem;
  color: var(--secondary-text-color);
  padding: 1rem;
}

.interest .box-container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--main-color);
  z-index: -1;
  /* customized style */
  clip-path: circle(25% at 0 0);
  opacity: 0.1;
  transition: 0.5s;
}

.interest .box-container .box:hover::before {
  clip-path: circle(100%);
}
/* End of interest section */

/* Portfolio section */
.portfolio .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.portfolio .button-container .btn {
  margin: 1rem;
  cursor: pointer;
}

.portfolio .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.portfolio .image-container .box {
  width: 35rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 25rem;
  position: relative;
  border: 1.5rem solid var(--primary-bg-color);
}

.portfolio .image-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .image-container .box .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0.9;
  transform: scale(0);
  transition: 0.2s linear;
}

.portfolio .image-container .box:hover .info {
  transform: scale(1);
}

.portfolio .image-container .box .info h3 {
  font-size: 2.5rem;
  color: var(--primary-text-color);
}

.portfolio i {
  color: var(--primary-bg-color);
  font-size: 2rem;
}

/* End of portfolio section */

/* Blog section */
.blog .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.blog .box-container .box {
  width: 33rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  background: var(--primary-bg-color);
  overflow: hidden;
}

.blog .box-container .box img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.blog .box-container .box .content {
  padding: 1.5rem;
}

.blog .box-container .box .content .info {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  background: var(--secondary-bg-color);
  padding: 1rem;
  margin-top: -4rem;
  margin-bottom: 1rem;
}

.blog .box-container .box .content .info i {
  padding: 0 1rem;
}

.blog .box-container .box .content .title {
  color: var(--primary-text-color);
  display: block;
  font-size: 2.5rem;
  padding: 0.5rem 0;
  text-transform: capitalize;
}

.blog .box-container .box .content .title:hover {
  text-decoration: underline;
  color: var(--main-color);
}

.blog .box-container .box .content p {
  color: var(--secondary-text-color);
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

/* End of blog section */

/* Contact section */
.contact .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row form {
  flex: 1 1 40rem;
  background: var(--primary-bg-color);
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
}

.contact .row .map {
  flex: 1 1 40rem;
  margin: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  border: 2rem solid var(--primary-bg-color);
  width: 100%;
}

.contact .row form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .row form input,
.contact .row form textarea {
  padding: 1rem 0;
  margin: 1rem 0;
  font-size: 1.7rem;
  text-transform: none;
  background: none;
  color: var(--main-color);
  width: 100%;
  border-bottom: 0.2rem solid var(--secondary-text-color);
}

.contact .row form input::placeholder,
.contact .row form textarea::placeholder {
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.contact .row form input:focus,
.contact .row form textarea:focus {
  border-color: var(--main-color);
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form textare {
  height: 15rem;
  resize: none;
}

.contact .row form .btn {
  cursor: pointer;
}

.contact .box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.contact .box-container .box {
  flex: 1 1 30rem;
  margin: 1rem;
  padding: 3rem 1rem;
  background: var(--primary-bg-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  text-align: center;
}

.contact .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 3rem;
  background: var(--secondary-bg-color);
  color: var(--main-color);
}

.contact .box-container .box h3 {
  color: var(--primary-text-color);
  padding: 1rem 0;
  font-size: 2rem;
}

.contact .box-container .box p {
  font-size: 1.5rem;
  color: var(--secondary-text-color);
}
/* End of contact section */

/* footer section */
footer {
  background-image: url(./img/headerbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px;
  width: 100vw;
  margin-top: 30px;
}
footer ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: white;
}

footer img {
  height: 50px;
  width: 50px;
}
/* End of footer */

/* Mobile version < 1024px, show toggle button*/
@media (max-width: 1100px) {
  html {
    font-size: 80%;
  }
  section {
    padding: 1rem;
    padding: 0 3%;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
    color: whitesmoke;
  }

  .navbar-links.active {
    display: flex;
    transition: 0.5s;
  }
}

/* screen < 768px */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .home .image img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  .interest .box-container .box {
    width: 100%;
  }

  .portfolio .image-container .box {
    width: 100%;
  }

  .blog .box-container .box {
    width: 100%;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}
