@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  min-height: 100vh;
}
.login .btn {
  border: none;
  padding: 1.2rem 2rem;
  background: rgb(17, 58, 17);
  color: whitesmoke;
  border-radius: 1.5rem;
  transition: 0.2s all linear;
  cursor: pointer;
}
.login .btn:hover {
  opacity: 0.8;
}
.login .heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  font-size: 3rem;
  color: rgb(0, 0, 80);
}
.login .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 2rem 5%;
}
.login .form-container img {
  margin-bottom: 3rem;
  align-self: center;
  height: 15rem;
  width: 15rem;
}
.login .form-container form {
  width: 100%;
}
.login .form-container form .input-field {
  margin-bottom: 1.2rem;
}
.login .form-container form .input-field h3 {
  font-size: 1.7rem;
  color: rgb(0, 0, 80);
}
.login .form-container form .input-field .input-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  border-bottom: 0.2rem solid rgb(0, 0, 80);
  font-size: 1.5rem;
  color: rgb(0, 0, 80);
}
.login .form-container form .input-field .input-container input {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  width: 100%;
}
.login .form-container form .input-field .input-container input:focus {
  outline: none;
}
.login .form-container form .btn {
  width: 50%;
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-size: 1.7rem;
  padding: 1rem 0;
  border-radius: 1.5rem;
  border: none;
  background: linear-gradient(to right, blue, rgb(141, 1, 255));
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}
.login .form-container form .btn:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .login .form-container {
    width: 90%;
  }
}
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #111;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #111;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #111;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.header {
  background: black;
  font-family: "Aboreto", cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 3rem;
  transition: all ease-in-out 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
}
.header .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .top .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.header .top .logo img {
  max-width: 8rem;
  max-height: 8rem;
}
.header .top .logo .title {
  font-size: 3.5rem;
  color: white;
  transition: 0.2s all linear;
  text-decoration: none;
}
.header .top .logo .title:hover {
  opacity: 0.8;
}
.header .top .menu {
  display: none;
  flex-direction: row;
  align-items: center;
}
.header .top .menu .icon {
  font-size: 3rem;
  color: white;
}
.header .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.2rem;
}
.header .navbar a {
  font-size: 2.2rem;
  width: 100%;
  transition: 0.2s all linear;
  text-decoration: none;
  color: whitesmoke;
}
.header .navbar a:hover {
  opacity: 0.8;
}

.header.active {
  background: whitesmoke;
  transition: all ease-in-out 0.3s;
  padding: 0.3rem 3rem;
}
.header.active .top .logo .title {
  color: black;
}
.header.active .top .logo .title:hover {
  color: gray;
}
.header.active .top .menu {
  display: none;
  flex-direction: row;
  align-items: center;
}
.header.active .top .menu .icon {
  font-size: 3rem;
  color: black;
}
.header.active .navbar a {
  width: 100%;
  color: black;
}
.header.active .navbar a:hover {
  color: gray;
}

@media (max-width: 768px) {
  .header, .header.active {
    display: flex;
    flex-direction: column;
  }
  .header .top .menu, .header.active .top .menu {
    display: flex;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  .header .top .menu:hover, .header.active .top .menu:hover {
    opacity: 0.5;
  }
  .header .navbar, .header.active .navbar {
    display: none;
  }
  .header .navbar.active, .header.active .navbar.active {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 1rem;
  }
  .header .navbar.active a {
    text-align: center;
    padding: 1.5rem 0;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    color: whitesmoke;
  }
  .header .navbar.active a:hover {
    background: rgba(255, 255, 255, 0.863);
    color: black;
  }
  .header.active .navbar.active a {
    text-align: center;
    padding: 1.5rem 0;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    color: black;
  }
  .header.active .navbar.active a:hover {
    background: rgba(0, 0, 0, 0.466);
    color: whitesmoke;
  }
}
.home {
  margin-top: 8rem;
  min-height: 100vh;
  background-image: url("../resources/homeBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 1.5rem;
  margin-top: -5rem;
}
.home .banner h1 {
  font-size: 7rem;
  text-align: center;
}
.home .banner h2 {
  font-size: 3.5rem;
  margin-bottom: 1.7rem;
}
.home .banner a {
  font-size: 2.5rem;
  background: none;
  color: white;
  border: 0.2rem solid white;
  padding: 1.2rem 3.6rem;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
  text-decoration: none;
}
.home .banner a:hover {
  background: whitesmoke;
  color: #333;
}

@media (max-width: 768px) {
  .home .banner h1 {
    font-size: 6rem;
  }
  .home .banner h2 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .home .banner h1 {
    font-size: 5.5rem;
  }
  .home .banner h2 {
    font-size: 2.75rem;
  }
}
.about {
  background: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
}
.about .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20rem;
  justify-content: center;
  margin-top: 4rem;
}
.about .content .info {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.about .content .info h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.about .content .info .basic-info {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.about .content .info .basic-info .row p {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.about .content .info .basic-info .row p .icon {
  font-size: 2.6rem;
  color: gray;
}
.about .content .info a {
  font-size: 2.5rem;
  width: 40%;
  background: gray;
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
.about .content .info a .icon {
  transition: all 0.3s linear;
}
.about .content .info a:hover {
  opacity: 0.7;
}
.about .content .info a:hover .icon {
  margin-left: 0.5rem;
}
.about .content .media {
  display: flex;
  flex-direction: column;
}
.about .content .media h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.about .content .media .media-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about .content .media .media-icons a img {
  height: 10rem;
  width: 10rem;
  transition: all 0.3s linear;
}
.about .content .media .media-icons a img:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .about .content {
    gap: 10rem;
  }
}
@media (max-width: 500px) {
  .about .content {
    margin-top: 0;
    gap: 5rem;
  }
}
.skills {
  background: rgb(240, 240, 240);
}
.skills .content {
  padding: 0 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7rem;
  justify-content: space-around;
}
.skills .content .row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.skills .content .row h3 {
  font-size: 4rem;
  color: #333;
}
.skills .content .row .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.skills .content .row .images .single-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.skills .content .row .images .single-image img {
  width: 10rem;
  height: 10rem;
}
.skills .content .row .images .single-image p {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .skills .content {
    padding: 0 10rem;
    gap: 5rem;
  }
}
@media (max-width: 500px) {
  .skills .content {
    padding: 0 5rem;
    gap: 3rem;
  }
}
.projects {
  background: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
}
.projects .card-container {
  width: 100%;
  padding: 0 7%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}
.projects .card-container .card {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 32%;
  padding: 1rem 1.2rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  height: 100%;
}
.projects .card-container .card .preview {
  width: 100%;
  height: 20rem;
}
.projects .card-container .card .title {
  font-size: 3.5rem;
  color: black;
}
.projects .card-container .card .description {
  font-size: 2.3rem;
  color: gray;
}
.projects .card-container .card .stack {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: darkslategray;
}
.projects .card-container .card .stack p {
  font-size: 2rem;
}
.projects .card-container .card .demo-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}
.projects .card-container .card .demo-link a img {
  width: 5rem;
  height: 5rem;
  transition: all 0.2s ease-in-out;
}
.projects .card-container .card .demo-link a img:hover {
  opacity: 0.5;
}

@media (max-width: 991px) {
  .projects .card-container {
    padding: 0 4%;
  }
  .projects .card-container .card {
    width: 48%;
  }
}
@media (max-width: 500px) {
  .projects .card-container {
    padding: 0 1%;
    gap: 3rem;
  }
  .projects .card-container .card {
    width: 98%;
  }
}
.contact {
  background: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
}
.contact .contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  gap: 1.5rem;
  padding: 4rem 0 6rem 0;
}
.contact .contact-container .contact-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
.contact .contact-container .contact-card .icon {
  font-size: 3.5rem;
  color: gray;
}
.contact .contact-container .contact-card h3 {
  font-size: 2rem;
}
.contact .contact-container .contact-card .small-icon {
  color: lightgray;
  font-size: 2rem;
  margin-left: auto;
}
.contact .contact-container .contact-card:hover {
  background: whitesmoke;
  border: none;
}
.contact .form-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 70%;
  margin: 0 auto;
  padding: 3.5rem 2.5rem;
}
.contact .form-container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact .form-container form input, .contact .form-container form textarea {
  font-size: 2rem;
  padding: 2rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
  background: rgb(255, 255, 255);
  opacity: 0.9;
}
.contact .form-container form button {
  width: 33%;
  border: none;
  border-radius: 1.5rem;
  font-size: 2rem;
  padding: 2rem 0;
  cursor: pointer;
  transition: all 0.2s linear;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.contact .form-container form button:hover {
  background: rgba(0, 0, 0, 0.3);
  color: rgb(83, 83, 83);
}

@media (max-width: 768px) {
  .contact .contact-container {
    width: 70%;
    padding: 3rem 0;
  }
  .contact .contact-container .contact-card {
    width: 100%;
    gap: 1.5rem;
  }
  .contact .form-container {
    width: 85%;
  }
  .contact .form-container form button {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .contact .contact-container {
    width: 98%;
    padding: 1.5rem 0;
  }
  .contact .contact-container .contact-card {
    width: 100%;
    gap: 2rem;
  }
  .contact .form-container {
    width: 98%;
  }
  .contact .form-container form button {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7.5rem;
  font-family: "Source Sans Pro", sans-serif;
}
html ::-webkit-scrollbar {
  background: rgb(218, 218, 218);
}
html ::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
}

section {
  padding-top: 3rem;
  padding-bottom: 10rem;
}
section .heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4rem 0;
  justify-content: center;
  width: 100%;
}
section .heading .icon {
  font-size: 6rem;
  margin-right: 1.5rem;
}
section .heading h1 {
  font-size: 7rem;
  text-transform: uppercase;
}
section .heading h1 span {
  color: gray;
}

@media (max-width: 945px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 38%;
  }
}/*# sourceMappingURL=index.css.map */