@import './variables/variables';

//components import
@import '../components/Header/header';
@import '../components/Home/home';
@import '../components/About/about';
@import '../components/Skills/skills';

//font choice
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    font-family: 'Source Sans Pro', sans-serif;
    
    ::-webkit-scrollbar{
        background: rgb(218, 218, 218);
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(80, 80, 80); 
    }

    
}

section{
    padding-top: 5rem;
    padding-bottom: 10rem;

    .heading{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4rem 0;
        justify-content: center;
        width: 100%;

        .icon{
            font-size: 6rem;
            margin-right: 1.5rem;
        }
        h1{
            font-size: 7rem;
            text-transform: uppercase;

            span{
                color: gray;
            }
        }
    }
}

@media (max-width: 945px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    html{
        font-size: 50%;
    }
}

@media (max-width: 500px) {
    html{
        font-size: 45%;
    }
}

