@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
.header {
  background: black;
  font-family: 'Aboreto', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3rem;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
}

.header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .top .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header .top .logo img {
  max-width: 8rem;
  max-height: 8rem;
}

.header .top .logo .title {
  font-size: 3.5rem;
  color: white;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.header .top .logo .title:hover {
  opacity: 0.8;
}

.header .top .menu {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top .menu .icon {
  font-size: 3rem;
  color: white;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.2rem;
}

.header .navbar li {
  list-style: none;
  font-size: 2.2rem;
}

.header .navbar li a {
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  text-decoration: none;
  color: whitesmoke;
}

.header .navbar li a:hover {
  opacity: 0.8;
}

.header.active {
  background: whitesmoke;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  padding: 0.3rem 3rem;
}

.header.active .top .logo .title {
  color: black;
}

.header.active .top .logo .title:hover {
  color: gray;
}

.header.active .top .menu {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header.active .top .menu .icon {
  font-size: 3rem;
  color: black;
}

.header.active .navbar li a {
  color: black;
}

.header.active .navbar li a:hover {
  color: gray;
}

@media (max-width: 768px) {
  .header, .header.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .top .menu, .header.active .top .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  .header .top .menu:hover, .header.active .top .menu:hover {
    opacity: 0.5;
  }
  .header .navbar, .header.active .navbar {
    display: none;
  }
  .header .navbar.active, .header.active .navbar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0;
    gap: 1rem;
  }
  .header .navbar.active li {
    text-align: center;
    padding: 1.5rem 0;
    width: 100%;
    cursor: pointer;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
  }
  .header .navbar.active li:hover {
    background: rgba(255, 255, 255, 0.863);
  }
  .header .navbar.active li:hover a {
    color: black;
  }
  .header.active .navbar.active li {
    text-align: center;
    padding: 1.5rem 0;
    width: 100%;
    cursor: pointer;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
  }
  .header.active .navbar.active li:hover {
    background: rgba(0, 0, 0, 0.466);
  }
  .header.active .navbar.active li:hover a {
    color: whitesmoke;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 200rem;
}

@media (max-width: 945px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }
}
/*# sourceMappingURL=index.css.map */