.home{
    margin-top: 8rem;
    min-height: 100vh;
    background-image: url("../resources/homeBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 1.5rem;
        margin-top: -5rem;

        h1{
            font-size: 7rem;
            text-align: center;
        }

        h2{
            font-size: 3.5rem;
            margin-bottom: 1.7rem;
        }

        button{
            font-size: 2.5rem;
            background: none;
            color: white;
            border: 0.2rem solid white;
            padding: 1.2rem 3.6rem;
            border-radius: 2.5rem;
            cursor: pointer;
            transition: all 0.2s linear;

            a{
                text-decoration: none;
                color: white;
            }
            
            &:hover{
                background: whitesmoke;
                
                a{
                    color: #333;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .home{
        .banner {
        
                h1 {
                    font-size: 6rem;
                }
        
                h2 {
                    font-size: 3rem;
                }
            }
    }
}

@media (max-width: 500px) {
    .home {
        .banner {

            h1 {
                font-size: 5.5rem;
            }

            h2 {
                font-size: 2.75rem;
            }
        }
    }
}